#home-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #b0f486;

    height: 70dvh;    
}

/* SEARCH BAR STYLES */

#home-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5vh;

    text-align: center;
}

#home-search h2 {
    font-size: 3rem;
}

#home-search-bar {
    width: 65vw;
    font-size: 1.5rem;
}

#h-s-add-link {
    font-style: italic;
}

#h-s-add-link a {
    text-decoration: none;
    color: #153e92;
    font-style: normal;
}

#h-s-add-link a:hover {
    color: #1e6db3;
}

/* SECTION STYLES */

#home-brief-simmer-card-holder {
    border: 2px solid #153e92;
    border-radius: 25px;
    margin: 2%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#home-all-simmer-card-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    justify-items: center;

    margin: 2%;
    padding: 2%;
    row-gap: 3rem;
}

/* SORT STYLES */

#h-s-sort-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

#h-s-sort-holder select {
    padding: .5vw;
    border-radius: 20px;
}

/* SIMMER CARD STYLES */

#simmer-card {
    border-radius: 15px;

    margin: 2%;
    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20vw;
    word-wrap: break-word;

    gap: 1rem;
}

#simmer-card:hover {
    background-color: #bbff904f;
}

.simmer-card-img-holder {
    display: flex;
    justify-content: center;
}

.simmer-card-img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.simmer-card-link {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

.simmer-card-link:hover {
    color: #0cb812;
}

#simmer-card-url {
    font-style: italic;
    font-weight: 500;
    color: #0cb812;
}

#simmer-card-url:hover {
    font-weight: 600;
}

#simmer-card-header,
#simmer-card-channel {
    text-align: center;
}

#simmer-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#s-c-description {
    border-left: 2px dashed #1e6db3;
    border-right: 2px dashed #1e6db3;

    padding: 2% 5%;
    width: 95%;
}

#s-c-description-name {
    color: #49ad0b;
}

#s-c-custom-description-holder {
    font-size: 0.9rem;
}

#s-c-custom-description-name {
    color: #49ad0b;
    font-weight: 500;
}

#s-c-custom-description {
    font-style: italic;
}

/* plumbob styles */

#simmer-card-plumbobs {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
}

#s-c-plumbob-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 50%;
}

#s-c-plumbob-count {
    font-size: 1.5rem;
    color: #1e6db3;
}

#plumbob-btn {
    background: none;
    border: none;
}

#plumbob-img {
    width: 1rem;
}

#plumbob-img:hover {
    transform: scale(1.4);
}

/* edit link styles */

#simmer-card-edit-link {
    margin-left: auto;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

#simmer-card-edit-link:hover {
    color: #0cb812;
    letter-spacing: 1px;
    font-weight: 700;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 800px) {
    #home-search-bar {
        width: 80vw;
    }

    #home-all-simmer-card-holder {
        grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    }

    #simmer-card {
        width: 40vw;
    }

    .simmer-card-img {
        width: 25vw;
        height: 25vw;
    }
}

@media screen and (max-width: 500px) {
    #home-search-bar {
        width: 90vw;
    }

    #home-all-simmer-card-holder {
        grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
    }

    #simmer-card {
        width: 80vw;
    }

    .simmer-card-img {
        width: 35vw;
        height: 35vw;
    }
}