#home-landing {
    height: 70dvh;

    background-color: #b0f486;
}

#home-brief-simmer-card-holder {
    border: 2px solid #153e92;
    border-radius: 25px;
    margin: 2%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#home-all-simmer-card-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    justify-items: center;

    margin: 2%;
    padding: 2%;
    row-gap: 3rem;
}

/* SIMMER CARD STYLES */

#simmer-card {
    border-radius: 15px;

    margin: 2%;
    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20vw;
    word-wrap: break-word;

    gap: 1rem;
}

#simmer-card:hover {
    background-color: #bbff904f;
}

.simmer-card-img-holder {
    display: flex;
    justify-content: center;
}

.simmer-card-img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.simmer-card-link {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

.simmer-card-link:hover {
    color: #0cb812;
}

#simmer-card-url {
    font-style: italic;
    font-weight: 500;
    color: #0cb812;
}

#simmer-card-url:hover {
    font-weight: 600;
}

#simmer-card-header,
#simmer-card-channel {
    text-align: center;
}

#simmer-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#s-c-description {
    border-left: 2px dashed #1e6db3;
    border-right: 2px dashed #1e6db3;

    padding: 2% 5%;
}

#s-c-description-name {
    color: #49ad0b;
}

#s-c-custom-description-holder {
    font-size: 0.9rem;
}

#s-c-custom-description-name {
    color: #49ad0b;
    font-weight: 500;
}

#s-c-custom-description {
    font-style: italic;
}

/* plumbob styles */

#simmer-card-plumbobs {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
}

#s-c-plumbob-description {
}

#s-c-plumbob-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 50%;
}

#s-c-plumbob-count {
    font-size: 1.5rem;
    color: #1e6db3;
}

#plumbob-btn {
    background: none;
    border: none;
    /* cursor: pointer;   this is already set in App.css with the custom cursor */
}

#plumbob-img {
    width: 1rem;
}

/* edit link styles */

#simmer-card-edit-link {
    margin-left: auto;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

#simmer-card-edit-link:hover {
    color: #0cb812;
    letter-spacing: 1px;
    font-weight: 700;
}